<header>
    <div class="container">
        <div class="logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Rent</a></li>
            
                <li><a href="#">News Properti</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
        <div class="account">
                <ul>
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Sign Up</a></li>
                    </ul>
        </div>
    </div>
   
    

</header>